{{ partial "header.html" . -}}
<h1>{{ .Title }}</h1>
{{ partial "navbar.html" . -}}
<main>
    <!-- A bio agora aparece ANTES dos posts no fluxo do código -->
    <aside>
        <img alt="Minha Foto" src="/p/pic.webp">
        <div>
            <p style="margin:0"><strong>Ave!</strong> Este é meu canto na rede.</p>
            <small>
                <a href="/software/">Software</a> |
                <a href="/hardware/">Hardware</a> |
                <a href="/websites/">Links</a>
            </small>
        </div>
    </aside>

    <section>
        <h2>Posts Recentes</h2>
        <ul>
        {{ range where .Site.RegularPages "Section" "blog" }}
        <li>
            <span>{{.Date.Format "02/01/2006"}}</span>
            <a href="{{.Permalink}}" style="font-weight: bold; font-size: 1.1em;">{{.Title}}</a>
        </li>
        {{ end }}
        </ul>
    </section>
</main>
{{ partial "footer.html" . }}
